
@model List<Estoque.PerfilModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Grupo de Perfis";
    ViewBag.Lista = Model;
}
@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Perfil.css" rel="stylesheet" />
}

@section TituloGrid{
    <th>Nome</th>
    <th>Ativo</th>
    <th>Ação</th>
}

@section LinhaGrid{

    @{
        var linha = 0;
        <!--Fiz o bind lá em cima do meu model, agora posso fazer um foreach-->
        foreach (var item in Model)
        {
            linha++; <!--No 1º loop ele passar a ser linha 1 e assim sucessivamente. Até linha ser menor que quantide maxima-->
            <!--paginação continuação-->
            <!--Este if é um contador, enquanto linha form menor do que quantidade de pagina. Ele vai imprimir-->
            if (linha <= ViewBag.QuantMaxLinhasPorPagina)
            {
                var ativo = (item.Ativo ? "SIM" : "NÂO");
                <!--conteudo-->
                <tr data-id="@item.Id">
                    <td>@item.Nome</td>
                    <td>@ativo</td>
                    <td>
                        <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                        <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    </td>
                </tr>
                <!--paginação continuação-->
            }
            //Ele vai imprimir até a quinta linha na sexta ele dá um brezk no loop. E vi para baixo imprimir a proxima pagina
            else
            {
                break;

            }

        }
    }
}

@section CamposCadastro {
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })

                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })

                @Html.CheckBox("cbx_ativo")
            </div>
        </div>
        <!--Div referente aoque esta no banco de dados..-->
        <div class="form-group" style="margin: 0 10px 0 10px"><!--contruindo o meu form com um espaçmento do formulario acima-->
            <div class="col-md-12"><!--montando uma coluna-->
               <h4 class="text-center">Usuários</h4><!--deixar ele centralizado-->
            <div class="well" style="max-height: 300px; padding: 5px; margin: 0; overflow: auto">
                <ul id="lista_usuario" class="list-group checked-list-box" style="margin-bottom: 0">
                    <!--montando a minha lista, vinda da base de dados.-->
                    @foreach (var usuario in (List<Estoque.Models.UsuarioModel>)ViewBag.ListaUsuario) 
                    {
                        <li class="list-group-item">
                            <label style="margin-bottom: 0">
                                <input type="checkbox" data-id-usuario="@usuario.Id" /> @usuario.Nome
                            </label>
                        </li>
                    }
                </ul>
            </div>
            </div>
        </div>
    </div><!--vem da classe row => linha do incicio-->
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirPerfil", "CadPerfil")';
        var url_confirmar = '@Url.Action("SalvarPerfil", "CadPerfil")';
        var url_page_click = '@Url.Action("PerfilPagina", "CadPerfil")';
        var url_tam_pag_change = '@Url.Action("PerfilPagina", "CadPerfil")';
        var url_alterar = '@Url.Action("RecuperarPerfil", "CadPerfil")';
    </script>
    <script src="~/Scripts/Cadastro/Perfil.js"></script>

}
