@model List<Estoque.Models.PaisModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Países";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Cidade.css" rel="stylesheet" />
}

@section TituloGrid{
    <th>Nome</th>
    <th>Codigo</th>
    <th>Ativo</th>
    }


@section LinhaGrid{

      @{
          var linha = 0;
          foreach (var item in Model)
          {
              linha++;
              if (linha <= ViewBag.QuantMaxLinhasPorPagina)
              {
                  var ativo = (item.Ativo ? "SIM" : "NÃO");

                  <tr data-id="@item.Id">
                      <td>@item.Nome</td>
                      <td>@ativo</td>
                      <td>
                          <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i></a>
                          <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i></a>
                      </td>
                  </tr>
              }
              else
              {
                  break;
              }
          }
        }
    }

@section CamposCadastro {
    <div class="row">
        <div class="col-md-8">
            @Html.Label("txt_nome", "Nome", new { @class = "control-label" })
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.Label("txt_codigo", "Código Internacional", new { @class = "control-label" })
            @Html.TextBox("txt_codigo", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <div class="form-check">
                @Html.CheckBox("cbx_ativo", new { @class = "form-check-input" })
                @Html.Label("cbx_ativo", "Ativo", new { @class = "form-check-label" })
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirPais", "CadPais")';
        var url_confirmar = '@Url.Action("SalvarPais", "CadPais")';
        var url_page_click = '@Url.Action("PaisPagina", "CadPais")';
        var url_filtro_change = '@Url.Action("PaisPagina", "CadPais")';
        var url_tam_pag_change = '@Url.Action("PaisPagina", "CadPais")';
        var url_alterar = '@Url.Action("RecuperarPais", "CadPais")';
     </script>
    <script src="~/Scripts/Cadastro/Pais.js"></script>
}

